<div class="card sameheight-item items" data-exclude="xs,sm,lg">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">
                {{__ 'Machine sales'}}
            </h3>
        </div>
        <div class="header-block pull-right">
            <div class="pagination">
                <button onclick="drawDashboardItemsList({{currentPage}} - 1)" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-up"></i>
                </button>
                <button onclick="drawDashboardItemsList({{currentPage}} + 1)" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>
    </div>
    <ul class="item-list striped">
        <li class="item item-list-header">
            <div class="item-row">
                <div class="item-col item-col-header item-col-title item-col-3">
                    <div>
                        <span>{{__ 'Machine ID'}}</span>
                    </div>
                </div>
                <div class="item-col item-col-header item-col-sales">
                    <div>
                        <span>{{__ 'Items sold'}}</span>
                    </div>
                </div>
                <div class="item-col item-col-header item-col-sales">
                    <div>
                        <span>{{__ 'Sales amount'}}</span>
                    </div>
                </div>
                <div class="item-col item-col-header item-col-stats item-col-9">
                    <div class="no-overflow">
                        <span>{{__ 'Sales tendency'}}</span>
                    </div>
                </div>
            </div>
        </li>
      {{#each items}}
          <li class="item">
              <div class="item-row">
                  <div class="item-col item-col-title  item-col-3 no-overflow">
                      <div>
                          <h4 class="item-title no-wrap">
                            {{this.machineId}}
                          </h4>
                      </div>
                  </div>
                  <div class="item-col item-col-sales">
                      <div class="item-heading">{{../__ 'Items sold'}}</div>
                      <div>
                        {{this.num}}
                      </div>
                  </div>
                  <div class="item-col item-col-sales">
                      <div class="item-heading">{{../__ 'Sales amount'}}</div>
                      <div>
                        {{this.sales}}
                      </div>
                  </div>
                  <div class="item-col item-col-stats item-col-9">
                      <div class="item-heading">{{../__ 'Sales tendency'}}</div>
                      <div class="no-overflow">
                          <div class="item-stats sparkline" data-type="bar" data-tendency="{{this.tendency}}"></div>
                      </div>
                  </div>
              </div>
          </li>
      {{/each}}
    </ul>
</div>
