{{#extend "main-layout"}}
  {{#content "body" mode="append"}}
      <div class="auth">
          <div class="auth-container">
              <div class="card">
                  <header class="auth-header">
                      <h1 class="auth-title">
                        {{> app/_common/logo/logo}}
                        {{__ 'Brand'}}
                      </h1>
                  </header>
                  <div class="auth-content">
                      <p class="text-center">{{__ 'PASSWORD RECOVER'}}</p>
                      <p class="text-muted text-center"><small>{{__ 'Enter your email address to recover your password.'}}</small></p>
                      <form id="forgot-password-form"  action="entrance/send-password-recovery-email" novalidate="">
                          <div class="form-group">
                              <label for="emailAddress" >{{__ 'Email'}}</label>
                              <input type="email" class="form-control underlined" name="emailAddress" id="emailAddress" placeholder="{{__ 'Your email address'}}" required>
                          </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-block btn-primary">{{__ 'Send reset link'}}</button>
                          </div>
                          <div class="form-group clearfix">
                              <a class="pull-left" href="/login">{{__ 'Return to Login'}}</a>
                          </div>
                      </form>
                      <div class="success-message" style="display: none"></div>
                      <div class="error-message" style="display: none"></div>
                  </div>
              </div>
          </div>
      </div>
  {{/content}}
{{/extend}}
