{{#extend "app-layout"}}
  {{#content "article" mode="append"}}
      <div class="title-search-block">

          <div class="title-block">
              <div class="row">
                {{!-- Title --}}
                  <div class="col-md-6">
                      <h3 class="title">
                        {{__ 'Machine'}}
                          <a href="javascript:refreshMachine()" class="btn btn-primary btn-sm rounded-s">
                              {{__ 'Refresh machine'}}
                          </a>
                          <div class="action dropdown">
                          <button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{__ 'More actions...'}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-modal" data-callback="deleteCheckedRecords('machine')"><i class="fa fa-close icon"></i>{{__ 'Delete'}}</a>
                          </div>
                      </div>
                      </h3>
                      <p class="title-description">
                        {{__ 'Machine List'}}
                      </p>
                  </div>

              </div>
          </div>


          <div class="items-search">
              <form id="machine-list-form" class="form-inline" action="/machine/list">
                  <div class="input-group">
                      <input type="text" name="searchFor" class="form-control boxed rounded-s" placeholder="{{__ 'Search for machine'}}" value="{{searchFor}}">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s" type="submit">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                  </div>
              </form>
          </div>
      </div>


      <div class="card items">
          <ul class="item-list striped">
              <li class="item item-list-header">
                  <div class="item-row">
                      <div class="item-col fixed item-col-check">
                          <label class="item-check" id="select-all-items">
                              <input type="checkbox" class="checkbox">
                              <span></span>
                          </label>
                      </div>
                      <div class="item-col item-col-header item-col-title item-col-3">
                          <div>
                              <span>{{__ 'Machine ID'}}</span>
                          </div>
                      </div>
                      <div class="item-col item-col-header item-col-date item-col-9">
                          <div class="no-overflow">
                              <span>{{__ 'Location'}}</span>
                          </div>
                      </div>
                      <div class="item-col item-col-header item-col-date">
                          <div class="no-overflow">
                              <span>{{__ 'Inventory'}}</span>
                          </div>
                      </div>
                      <div class="item-col item-col-header item-col-date">
                          <div class="no-overflow">
                              <span>{{__ 'AI status'}}</span>
                          </div>
                      </div>
                      <div class="item-col item-col-header item-col-date">
                          <div class="no-overflow">
                              <span>{{__ 'OO status'}}</span>
                          </div>
                      </div>
                      <div class="item-col item-col-header item-col-date">
                          <div>
                              <span>{{__ 'Assign time'}}</span>
                          </div>
                      </div>
                      <div class="item-col item-col-header item-col-date">
                          <div>
                              <span>{{__ 'AI time'}}</span>
                          </div>
                      </div>
                      <div class="item-col item-col-header fixed item-col-actions-dropdown">

                      </div>
                  </div>
              </li>
            {{#each items}}
                <li class="item">

                    <div class="item-row">

                        <div class="item-col fixed item-col-check">

                            <label class="item-check">
                                <input type="checkbox" class="checkbox" value="{{this.id}}">
                                <span></span>
                            </label>
                        </div>

                        <div class="item-col fixed pull-left item-col-title item-col-3">
                            <div class="item-heading">{{../__ 'Machine ID'}}</div>
                            <div>
                                <a href="/machine/{{this.id}}" class="">
                                    <h4 class="item-title">
                                      {{this.machine_id}}
                                    </h4>
                                </a>
                            </div>
                        </div>
                        <div class="item-col item-col-date item-col-9">
                            <div class="item-heading">{{../__ 'Location'}}</div>
                            <div class="no-overflow">
                              {{this.location}}
                            </div>
                        </div>
                        <div class="item-col item-col-date">
                            <div class="item-heading">{{../__ 'Inventory'}}</div>
                            <div class="no-overflow">
                              {{this.inventory}}
                            </div>
                        </div>
                        <div class="item-col item-col-date">
                            <div class="item-heading">{{../__ 'AI status'}}</div>
                            <div class="no-overflow">
                              {{this.ai_status}}
                            </div>
                        </div>
                        <div class="item-col item-col-date">
                            <div class="item-heading">{{../__ 'OO status'}}</div>
                            <div class="no-overflow">
                              {{this.oo_status}}
                            </div>
                        </div>
                        <div class="item-col item-col-date">
                            <div class="item-heading">{{../__ 'Assign time'}}</div>
                            <div class="no-overflow">
                              {{this.assign_time}}
                            </div>
                        </div>
                        <div class="item-col item-col-date">
                            <div class="item-heading">{{../__ 'AI time'}}</div>
                            <div class="no-overflow">
                              {{this.ai_time}}
                            </div>
                        </div>
                        <div class="item-col fixed item-col-actions-dropdown">
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                <span class="inactive">
                                    <i class="fa fa-cog"></i>
                                </span>
                                    <span class="active">
                                <i class="fa fa-chevron-circle-right"></i>
                                </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">
                                        <li>
                                            <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal" data-callback="deleteOneRecord('machine', '{{this.id}}')">
                                                <i class="fa fa-trash-o "></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="view" href="/machine/{{this.id}}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            {{/each}}
          </ul>
      </div>

      {{> app/_common/pager/pager}}

  {{/content}}
{{/extend}}
